@model UserClientMembers.Models.ChangePasswordModel

<link rel="stylesheet" type="text/css" href="../../Content/Stylesheets/site.css?1.0.7">
<link rel="stylesheet" type="text/css" href="../../Content/Stylesheets/resetPassword.css?1.0.7">

<div id="header">
    <div id="headerContent">
        <div id="headerBackground">
            <a href="@Url.Action("Index", "Home")">
                <div id="headerVestnIcon">
                    <img src="../../Content/Images/VestnBetaLogoWhite.png" alt="Vestn" width="100%" height="100%">
                </div>


            </a>
        </div>
    </div>
</div>



@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post)) {
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <div id="changePasswordContainer">
        <fieldset>
        
        <div class="formGroup">
                @Html.HiddenFor(m => m.OldPassword)

            <div class="editor-label" style="margin-top:10px;">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label" style="margin-top:15px;">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p>
                <input type="submit" class="orange button formGroupSubmit" value="Change Password" style="border:none;" />
            </p>

            </div>
        </fieldset>
    </div>
}